*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form-parent{
    background: url(../Image/contact_background.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

form{
    width: 800px;
    background: rgba(0, 0, 0, 0.15);
    height: 70vh;
    padding: 10px 0px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

form h2{

    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    background: linear-gradient(to right ,#00f2ff,#0072ff);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: 800;
    letter-spacing: 2px;
    filter: drop-shadow(0px 2px 4px rgba(0 0 0 0.3));
}

#main-email-parent{
    display: grid;
    justify-content: center;
}

#main-email-parent input{

    padding: 10px 5px;
    margin-top: 15px;
    width: 390px;
    /* border-radius: 20px; */
    border: none;
    outline: none;
    background: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
    font-size: 18px;
}

textarea{

    display: flex;
    justify-content: center;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    color: #fff;
    outline: none;
    margin: 15px auto;
    padding: 5px 10px;
    font-size: 18px;
    resize: none;
    height: 80px;
    width: 390px;

}


input[type="submit"]{
    display: block;
    margin: 20px auto;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 1.5px;
    background:linear-gradient(90deg ,#00c6ff,#0072ff);
    border-radius: 10px;
    width: 390px;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: bold;
}